.avatar.small {
  height: 35px;
  width: 35px;
}

.contactDetails {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.contactEmail {
  color: var(--quiqflow-color-modal-overlay);
  font-size: var(--quiqflow-font-size-sm);
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.contactItem {
  align-items: center;
  border-bottom: 1px dashed var(--quiqflow-color-light-grey);
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  padding: 1rem;
}

.contactName {
  color: var(--quiqflow-color-bg-dark);
  cursor: pointer;
  font-size: var(--quiqflow-font-size-md);
  font-weight: bold;
  margin-bottom: 0.25rem;
}

.contactName:hover {
  color: var(--quiqflow-color-primary);
}

.contactTime {
  color: var(--quiqflow-color-modal-overlay);
  font-size: var(--quiqflow-font-size-sm);
  width: 50px;
}

@media (max-width: 768px) {
  .contactDetails {
    align-items: center;
    flex-direction: row;
    gap: 0.75rem;
    width: 100%;
  }

  .contactInfo {
    width: 100%;
  }

  .contactItem {
    align-items: flex-start;
    flex-direction: column;
    gap: 0;
    padding: 0.75rem;
  }

  .contactTime {
    display: none;
  }
}
