.contactDetails {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.contactEmail {
  color: var(--quiqflow-color-modal-overlay);
  font-size: var(--quiqflow-font-size-sm);
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.contactItem {
  align-items: center;
  border-bottom: 1px dashed var(--quiqflow-color-light-grey);
  cursor: pointer;
  display: flex;
  gap: var(--quiqflow-spacing-xs);
  justify-content: space-between;
  padding: var(--quiqflow-spacing-sm);
}

.contactItem:hover{
  background-color: var(--quiqflow-color-primary-light) ;
}

.contactName {
  color: var(--quiqflow-color-bg-dark);
  font-size: var(--quiqflow-font-size-md);
  font-weight: bold;
}

.contactItem:hover .contactName {
  color: var(--quiqflow-color-primary);
}

.contactTime {
  color: var(--quiqflow-color-modal-overlay);
  font-size: var(--quiqflow-font-size-sm);
  width: 50px;
}

@media (min-width: 768px) {
  .contactInfo {
    width: 100%;
  }
}
