.button {
  align-items: center;
  border-radius: var(--quiqflow-radius-button);
  border: none;
  box-shadow: var(--quiqflow-box-shadow-1);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--quiqflow-font-size-md);
  font-weight: bold;
  justify-content: center;
  padding: 0.75rem 1.5rem;
  transition: all 0.2s ease;
}

.buttonPrimary {
  background-color: var(--quiqflow-color-primary);
  color: var(--quiqflow-color-white);
  transition: all 0.3s ease-in-out;
}

.buttonSecondary {
  background-color: var(--quiqflow-color-bg-dark);
  color: var(--quiqflow-color-bg-secondary);
  transition: all 0.3s ease-in-out;
}

.buttonPrimary:hover {
  background-color: var(--quiqflow-color-primary-hover);
}

.button:disabled {
  opacity: 0.7;
  /* cursor: not-allowed; */
}
