/* src/components/atoms/Button/Button.module.css */
.button {
  align-items: center;
  border: none;
  border-radius: var(--quiqflow-radius-button);
  box-shadow: var(--quiqflow-box-shadow-1);
  cursor: pointer;
  display: inline-flex;
  font-size: var(--quiqflow-font-size-md);
  font-weight: bold;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.primary {
  background-color: var(--quiqflow-color-primary);
  color: var(--quiqflow-color-white);
}

.secondary {
  background-color: var(--quiqflow-color-bg-dark);
  color: var(--quiqflow-color-bg-secondary);
}

.button:hover {
  opacity: 0.9;
}

.button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.sm {
  padding: 8px 16px;
}

.md {
  padding: 12px 24px;
}

.lg {
  padding: 16px 32px;
}

.buttonDark {
  filter: brightness(0.8);
}

.buttonLight {
  filter: brightness(1);
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
