.messengerBody {
  flex: 1;
  max-height: 340px;
  min-height: 340px;
  overflow-y: auto;
  padding: 0 2rem;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  min-height: 100%;
  scroll-behavior: smooth;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
}

/* is typing animation */
.typingIndicator {
  display: flex;
  align-items: center;
  padding: 8px 15px;
  gap: 4px;
  margin: 10px 0 10px 15px;
  border-radius: 18px;
  max-width: 60%;
  animation: fadeIn 0.3s ease-in;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--quiqflow-color-primary);
  border-radius: 50%;
  display: inline-block;
  animation: bounce 1.5s infinite ease-in-out;
}

.dot:nth-child(2) {
  animation-delay: 0s;
}

.dot:nth-child(3) {
  animation-delay: 0.2s;
}

.dot:nth-child(4) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Add these styles for the loading indicator */

.loadingIndicator {
  padding: 10px;
  text-align: center;
  color: #666;
  font-size: 0.9rem;
  margin: 5px 0;
}
