.messengerBody {
  flex: 1;
  max-height: 340px;
  overflow-y: auto;
  padding: 2rem;
}

.messagesContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  min-height: 100%;
  justify-content: flex-start;
  scroll-behavior: smooth;
}

.messageWrapper {
  display: flex;
  flex-direction: column;
}

/* is typing animation */
.typingIndicator {
  display: none;
  gap: 4px;
  align-self: flex-start;
  margin-top: auto;
  animation: fadeIn 0.3s ease-in;
}

.dot {
  width: 8px;
  height: 8px;
  background-color: var(--quiqflow-color-primary);
  border-radius: 50%;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%,
  80%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}
