.message{
  display: flex;  
}

.message-contact {
    display: flex;
    margin-bottom: 0.5rem;
}

.avatar.small{
    width: 35px;
    height: 35px;
}

.user-details {
    align-items: center;
    display: flex;
    gap: 1rem;
    margin-left: 0.5rem;
}

.message-time {
    color: var(--quiqflow-color-modal-overlay);
    font-size: 0.75rem;
}




