.buttonContainer {
  display: flex;
  justify-content: center;
}

.error {
  color: var(--quiqflow-color-error);
  font-size: var(--quiqflow-font-size-xs);
  margin: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.formGroup {
  margin-bottom: 24px;
  position: relative;
}

.passwordToggle {
  background: none;
  border: none;
  color: var(--quiqflow-color-grey);
  cursor: pointer;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}

.passwordToggle:hover {
  color: var(--quiqflow-color-primary);
}

.passwordWrapper {
  position: relative;
}

.registerContainer {
  background-color: var(--quiqflow-color-white);
  border-radius: 8px;
  box-shadow: var(--quiqflow-box-shadow-2);
  color: var(--quiqflow-color-primary-font);
  display: flex;
  flex-direction: column;
  max-width: 448px;
  padding: 24px 40px;
  width: 100%;
}

.registerHeader {
  margin-bottom: 16px;
  text-align: center;
}

.registerLink {
  color: var(--quiqflow-color-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.registerLink:hover {
  color: var(--quiqflow-color-primary-hover);
  text-decoration: underline;
}

.registerSubtext {
  align-items: center;
  color: var(--quiqflow-color-grey);
  display: flex;
  font-size: var(--quiqflow-font-size-xs);
  justify-content: center;
  margin: 20px;
}

.registerTitle {
  color: var(--quiqflow-color-primary);
  font-size: var(--quiqflow-font-size-3xl);
  font-weight: var(--quiqflow-font-weight-bold);
  margin: 0;
}
