/* Sidebar Styles */
.chat-sidebar {
    max-width: 350px;
    height: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    background-color: var(--quiqflow-color-white); 
    box-shadow: var(--quiqflow-box-shadow-1);
}

/* Contacts Card */
.contacts-card {
    background-color: var(--quiqflow-color-white);
    border-radius: 0.5rem;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.05); */
}

/* Contacts Body */
.contacts-body {
    /* padding: 1rem; */
}

.contacts-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-height: 400px;
    overflow-y: auto;
}