.input {
  border-radius: 0.375rem;
  border: 1px solid var(--quiqflow-color-border-muted);
  color: var(--quiqflow-color-grey);
  font-size: var(--quiqflow-font-size-md);
  font-weight: var(--quiqflow-font-weight-normal);
  padding: .75rem 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}

input:focus{
  outline: none;
  border-color: var(--quiqflow-color-primary);
}

/* form */
.auth-input{
  background-color: var(--quiqflow-color-light-grey);
  font-size: var(--quiqflow-font-size-sm);
  border: none;
}

.auth-input:focus {
  outline: none;
  background-color: var(--quiqflow-color-bg-secondary);
  box-shadow: var(--quiqflow-box-shadow-focus);
}

.input.is-invalid {
  border-color: var(--quiqflow-color-error);
  box-shadow: var(--quiqflow-box-shadow-error);
}

.input.is-valid {
  border-color: var(--quiqflow-color-success);
  box-shadow: var(--quiqflow-box-shadow-success);
}