/*
 * Base styles
 * ============================================================
 */


html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.3;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  background-color: var(--quiqflow-color-bg);
  color: var(--quiqflow-color-primary-font);
  font-family: var(--quiqflow-font-primary), var(--quiqflow-font-secondary), sans-serif;
  font-size: 16px;
  font-weight: var(--quiqflow-font-weight-normal);
  letter-spacing: 0.5px;
  line-height: 1.6;
  margin: 0;
  overflow-x: hidden;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

[data-theme='dark'] body {
  background-color: var(--quiqflow-color-bg-dark);
}

strong {
  font-weight: var(--quiqflow-font-weight-bold);
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--quiqflow-font-weight-bold);
}

input,
textarea {
  unicode-bidi: plaintext;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button {
  -webkit-tap-highlight-color: transparent;
}

.scrollAuto {
  overflow-y: unset;
}

.scrollLocked {
  overflow-y: hidden;
}

* {
  scrollbar-color: var(--quiqflow-color-nav-active) var(--quiqflow-color-white);
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: var(--quiqflow-color-bg);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--quiqflow-color-bg);
  border: 2px solid var(--quiqflow-color-bg);
  border-radius: 10px;
}

[dir='rtl'] body {
  font-family: var(--quiqflow-font-secondary), var(--quiqflow-font-primary), sans-serif;
  letter-spacing: 0;
  line-height: 1.8;
}

[dir='ltr'] body {
  font-family: var(--quiqflow-font-primary), var(--quiqflow-font-secondary), sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.6;
}

input:lang(ar),
textarea:lang(ar),
[dir='rtl'] input,
[dir='rtl'] textarea {
  font-family: var(--quiqflow-font-secondary);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition:
    background-color 50000s ease-in-out 0s,
    color 5000s ease-in-out 0s;
}
