.messenger-body {
    flex: 1;
    max-height: 340px;
    overflow-y: auto;
    padding: 2rem;
}

.messages-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-height: 100%;
    justify-content: flex-start;
}

.message-wrapper {
    display: flex;
    flex-direction: column;
}

/* is typing animation */

.typing-indicator {
    display: flex;
    gap: 4px;
    align-self: flex-start;
    margin-top: auto;
    padding: 1rem;
    animation: fadeIn 0.3s ease-in;
  }
  
  .typing-indicator .dot {
    width: 8px;
    height: 8px;
    background-color: var(--quiqflow-color-primary);
    border-radius: 50%;
    animation: blink 1.4s infinite both;
  }
  
  .typing-indicator .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing-indicator .dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes blink {
    0%, 80%, 100% {
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
  }
  