.messengerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--quiqflow-spacing-md);
  border-bottom: 1px solid var(--quiqflow-color-light-grey);
}

.messengerTitle {
  display: flex;
  align-items: center;
}

.activeUser {
  display: flex;
  flex-direction: column;
}

.userStatus {
  gap: var(--quiqflow-spacing-xs);
  display: flex;
  align-items: center;
  font-size: var(--quiqflow-font-size-sm);
}

.statusIndicator {
  width:  var(--quiqflow-spacing-sm);
  height:  var(--quiqflow-spacing-sm);
  border-radius: 50%;
}

/* status color modifiers */
.Online {
  background-color: var(--quiqflow-color-active);
}
.Offline {
  background-color: var(--quiqflow-color-offline);
}

.statusText {
  color: var(--quiqflow-color-modal-overlay);
  font-weight: var(--quiqflow-font-weight-bold);
}
