.messengerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  border-bottom: 1px solid var(--quiqflow-color-light-grey);
}

.messengerTitle {
  display: flex;
  align-items: center;
}

.activeUser {
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 4px;
}

.userStatus {
  display: flex;
  align-items: center;
  font-size: 0.85rem;
}

.statusIndicator {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 0.5rem;
}

/* status color modifiers */
.Online {
  background-color: var(--quiqflow-color-active);
}
.Offline {
  background-color: var(--quiqflow-color-offline);
}
/* .idle {
  background-color: var(--quiqflow-color-idle);
} */
/* .dnd {
  background-color: var(--quiqflow-color-dnd);
} */

.statusText {
  color: var(--quiqflow-color-modal-overlay);
  font-weight: var(--quiqflow-font-weight-bold);
}

.messengerToolbar {
  display: flex;
  align-items: center;
}

.dropdownMenu {
  display: flex;
}

.menuTrigger {
  background: none;
  border-radius: var(--quiqflow-radius-chat-bubble);
  border: none;
  color: var(--quiqflow-color-modal-overlay);
  cursor: pointer;
  font-size: var(--quiqflow-font-size-lg);
  padding: 5px 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.menuTrigger:hover {
  background-color: var(--quiqflow-color-primary-light);
}
