.chatSidebar {
  background-color: var(--quiqflow-color-white);
  border-radius: 0.5rem;
  box-shadow: var(--quiqflow-box-shadow-1);
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactsCard {
  background-color: var(--quiqflow-color-white);
  border-radius: 0.5rem;
}

.contactsList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 460px;
  overflow-y: auto;
  padding: 1rem;
}

.noResults {
  text-align: center;
  color: var(--quiqflow-color-modal-overlay);
  padding: 1rem;
  font-style: italic;
  width: 300px;
}
