.message.outgoing {
    align-self: flex-end;
}

.message.outgoing .user-details {
    margin-left: 0;
    margin-right: 0.75rem;
    text-align: right;
}

.message.outgoing .message-text {
    background-color: var(--quiqflow-color-black-lightest);
    color: var(--quiqflow-color-black);
    text-align: right;
}

.outgoing .message-wrapper .message-contact{
    align-self: flex-end;
}

