.label {
  display: block;
  color: var(--quiqflow-color-blue-900);
}
/* size */
.sm {
  font-size: var(--quiqflow-font-size-sm);
}

.md {
  font-size: var(--quiqflow-font-size-md);
}

.lg {
  font-size: var(--quiqflow-font-size-lg);
}
/* weight */
.normal {
  font-weight: var(--quiqflow-font-weight-normal);
}

.bold {
  font-weight: var(--quiqflow-font-weight-bold);
}

.light {
  color: var(--quiqflow-color-primary-font);
}

.dark {
  color: var(--quiqflow-color-white);
}
