.chatPage{
display: flex;
/* flex: 1 1 auto; */
}

.sidebarImage{
max-width: 350px;
height: 100vh;
}

.chatContainer {
  background-color: var(--quiqflow-color-chat-bg);
  display: grid;
  gap: 2rem;
  grid-template-columns: 0fr 2fr;
  height: 100vh;
  padding: 2rem;
  flex: 1;
}

.emptyMessagebar{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
box-shadow: var(--quiqflow-box-shadow-1);
font-size: 1.2rem;
background-color: var(--quiqflow-color-white);
border-radius: 0.5rem;
color: var(--quiqflow-color-modal-overlay);

}
