.chatPage{
display: flex;
/* flex: 1 1 auto; */
overflow-y:clip;
}

.sidebarImage{
max-width: 350px;
height: 100vh;
}

/* styles.module.css */
.chatContainer {
  background-color: var(--quiqflow-color-chat-bg);
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  padding: 2rem;
  gap: 1rem;
}

.chatContent {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  height: 100%;
}

.logoutContainer {
  display: flex;
  justify-content: space-between;
  box-shadow: var(--quiqflow-box-shadow-1);
  font-size: 1.2rem;
  background-color: var(--quiqflow-color-white);
  border-radius: 0.5rem;
  font-weight: var(--quiqflow-font-weight-bold);
  /* color: var(--quiqflow-color-modal-overlay); */
}

.currentUser{
  display: flex;
  gap: 10px;
  align-items: center;
  flex-direction: row;
  padding: 5px;
  margin: auto 5px;
  font-size: var(--quiqflow-font-size-lg);
}
.logoutButton {
  /* opacity: 0.7; */
  margin: 10px;
  background-color: var(--quiqflow-color-primary);
  transition: background-color 0.3s ease-in-out;
}

.logoutButton:hover {
  opacity: 1;
  background-color: var(--quiqflow-color-primary-hover);
}

/* -------------------- */

.emptyMessagebar{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
box-shadow: var(--quiqflow-box-shadow-1);
font-size: 1.2rem;
background-color: var(--quiqflow-color-white);
border-radius: 0.5rem;
color: var(--quiqflow-color-modal-overlay);

}

.backButton {
  text-align: start;
  background: none;
  border: none;
  color: var(--quiqflow-color-bg-dark);
  font-size: var(--quiqflow-font-size-2xl);
  padding: 10px 5px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .chatContainer {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .sidebarImage {
    display: none;
  }

  .chatContent {
    display: block; 
    height: auto;
    gap: 0; 
  }

}

@media(max-width: 992px){
  .sidebarImage {
    display: none;
  }
}