.avatar {
  align-items: center;
  border-radius: 50%;
  color: var(--quiqflow-color-white);
  display: flex;
  font-size: var(--quiqflow-font-size-lg);
  font-weight: bold;
  justify-content: center;
}

.large{
  font-size: var(--quiqflow-font-size-md);
  height: 40px;
  width: 40px;
}

.small {
  font-size: var(--quiqflow-font-size-sm);
  height: 35px;
  width: 35px;
}


.avatarLight {
  background-color: var(--quiqflow-color-primary);
}

.avatarDark {
  background-color: var(--quiqflow-color-dark-bg);
}


/* ===============================
   Desktop styles (larger screens)
   =============================== */

   @media (min-width: 768px) {
    .large{
      font-size: var(--quiqflow-font-size-lg);
      height: 45px;
      width: 60px;
    }
   }
