/* src/components/atoms/Avatar/Avatar.module.css */
.avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: var(--quiqflow-font-size-lg);
  color: var(--quiqflow-color-white);
}

@media (max-width: 768px) {
  .avatar {
    width: 40px;
    height: 36px;
  }
}