.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: var(--quiqflow-font-size-lg);
  color: var(--quiqflow-color-white);
  border-radius: 50%;
}

.large{
  width: 45px;
  height: 45px;
  font-size: var(--quiqflow-font-size-lg);
}

.small {
  width: 35px;
  height: 35px;
  font-size: var(--quiqflow-font-size-sm);
}


.avatarLight {
  background-color: var(--quiqflow-color-primary);
}

.avatarDark {
  background-color: var(--quiqflow-color-dark-bg);
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}
