.formGroup {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .invalidFeedback {
    color: var(--quiqflow-color-error);
    font-size: var(--quiqflow-font-size-xs);
    margin: 0.25rem;
  }

  .authInput {
    background-color: var(--quiqflow-color-light-grey);
    font-size: var(--quiqflow-font-size-sm);
    border: none;
  }
  
  .authInput:focus {
    outline: none;
    background-color: var(--quiqflow-color-bg-secondary);
    /* box-shadow: var(--quiqflow-box-shadow-focus); */
  }

  .passwordWrapper {
    position: relative;
  }
  
  .passwordField {
    text-align: left;
  }
  
  .passwordToggle {
    background: transparent;
    border: none;
    box-shadow:none;
    color: var(--quiqflow-color-grey);
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .passwordToggle:focus {
    outline: none;
    box-shadow: none;
  }
  
  /* .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    color: #888;
  }
  
  .eyeIcon:hover {
    color: #333;
  } */
  
  .passwordHint {
    color: var(--quiqflow-color-grey);
    font-size: var(--quiqflow-font-size-xs);
    margin-top: 0.5rem;
  }
/* 
  .error {
    display: flex;
  } */