.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.invalid-feedback {
  color: var(--quiqflow-color-error);
  display: none;
  font-size: var(--quiqflow-font-size-xs);
  margin-top: 0.25rem;
}

.is-invalid ~ .invalid-feedback {
  display: block;
}