.register-page {
    background-color: var(--quiqflow-color-white);
    box-sizing: border-box;
    min-height: 100vh;
    padding: 1rem ;
    place-items: center;
    width: 100%;
}

.primary-logo {
    width: 280px; 
    height: auto; 
    margin: 1rem;
  }
