.auth-container {
    background-color: var(--quiqflow-color-white);
    box-sizing: border-box;
    display: grid;
    min-height: 100vh;
    padding: 2rem var(--quiqflow-spacing-xs);
    place-items: center;
    width: 100%;
}

