.registerContainer {
  background-color: var(--quiqflow-color-white);
  border-radius: 0.5rem;
  box-shadow: var(--quiqflow-box-shadow-2);
  color: var(--quiqflow-color-primary-font);
  display: flex;
  flex-direction: column;
  max-width: 28rem;
  padding: 1.5rem 2.5rem;
  width: 100%;
}

.registerPage {
  background-color: var(--quiqflow-color-white);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  width: 100%;
}

.registerHeader {
  margin-bottom: 1rem;
  text-align: center;
}

.registerTitle {
  color: var(--quiqflow-color-primary);
  font-size: var(--quiqflow-font-size-3xl);
  font-weight: var(--quiqflow-font-weight-bold);
  margin: 0;
}

.registerSubtext {
  align-items: center;
  color: var(--quiqflow-color-grey);
  display: flex;
  font-size: var(--quiqflow-font-size-xs);
  justify-content: center;
  margin: 1.5rem 0;
}

.registerLink {
  color: var(--quiqflow-color-primary);
  text-decoration: none;
  transition: color 0.2s ease;
}

.registerLink:hover {
  color: var(--quiqflow-color-primary-hover);
  text-decoration: underline;
}

.primaryLogo {
  height: auto;
  margin: 1.5rem;
  width: 200px;
}
