.auth-card {
    width: 100%;
    max-width: 28rem;
    background-color: var(--quiqflow-color-bg);
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1.5rem .5rem rgba(0, 0, 0, .075);
    padding: 2.5rem;
    font-family: var(--quiqflow-font-primary), sans-serif;
    line-height: 1.5;
    color: var(--quiqflow-color-primary-font);
    margin: auto;
}

.auth-header {
    text-align: center;
    margin-bottom: 2rem;
}

.auth-title {
    font-size: var(--quiqflow-font-size-2xl);
    font-weight: var(--quiqflow-font-weight-bold);
    color: var(--quiqflow-color-primary-font);
    margin: 0 0 1rem 0;
}

.auth-subtext {
    font-size: var(--quiqflow-font-size-sm);
    color: var(--quiqflow-color-grey);
    margin: 0;
}

.auth-link {
    color: var(--quiqflow-color-primary);
    text-decoration: none;
    transition: color 0.2s ease;
}

.auth-link:hover {
    color: var(--quiqflow-color-primary-hover);
    text-decoration: underline;
}