.messageText {
  border-radius: var(--quiqflow-radius-chat-bubble);
  font-weight: var(--quiqflow-font-weight-normal);
  padding: 16px;
  word-wrap: break-word;
  animation: messagePopIn 0.3s ease-out;
  max-width: 500px;
}

.default {
  background-color: var(--quiqflow-color-white);
}

.highlight {
  background-color: var(--quiqflow-color-highlight);
}

.dark {
  filter: brightness(0.9);
}

.light {
  filter: brightness(1);
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

@keyframes messagePopIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
