.messageText {
  border-radius: var(--quiqflow-radius-chat-bubble);
  font-weight: var(--quiqflow-font-weight-normal);
  color: var(--quiqflow-color-black);
  padding: 16px;
  word-wrap: break-word;
  animation: messagePopIn 0.3s ease-out;
  max-width: 500px;
  margin-top: 4px
}

.incomingText {
  background-color: var(--quiqflow-color-primary-light);
  align-self: flex-start;
}

.outgoingText {
  background-color: var(--quiqflow-color-black-lightest);
  align-self: flex-end;
}

.dark {
  filter: brightness(0.9);
}

.light {
  filter: brightness(1);
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

@keyframes messagePopIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
