.messageText {
  animation: messagePopIn 0.3s ease-out;
  border-radius: var(--quiqflow-radius-chat-bubble);
  color: var(--quiqflow-color-black);
  font-weight: var(--quiqflow-font-weight-normal);
  max-width: var(--quiqflow-max-width-message);
  padding: var(--quiqflow-spacing-sm);
  word-wrap: break-word;
}

.incomingText {
  align-self: flex-start;
  background-color: var(--quiqflow-color-primary-light);
}

.outgoingText {
  align-self: flex-end;
  background-color: var(--quiqflow-color-black-lightest);
}

.dark {
  filter: brightness(0.9);
}

.light {
  filter: brightness(1);
}

.rtl {
  direction: rtl;
  text-align: right;
}

.ltr {
  direction: ltr;
  text-align: left;
}

@keyframes messagePopIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
