.contactsHeader {
  padding: var(--quiqflow-spacing-sm);
}

.searchContainer {
  position: relative;
}

.searchIcon {
  color: var(--quiqflow-color-grey);
  left: 1rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

