.password-wrapper {
    position: relative;
}

.password-toggle {
    background: none;
    border: none;
    color: var(--quiqflow-color-grey);
    cursor: pointer;
    padding: 0.25rem;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    transform: translateY(-50%);
}


.password-hint {
    color: var(--quiqflow-color-grey);
    font-size: var(--quiqflow-font-size-xs);
    margin-top: 0.5rem;
    display: none;
}

.password-sign-up-hint {
    display: block;
}

