.avatarWrapper {
  border-radius: 50%;
  height: 35px;
  overflow: hidden;
  width: 35px;
}

.avatarWrapper img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.messageTime {
  color: var(--quiqflow-color-modal-overlay);
  font-size: var(--quiqflow-font-size-xs); 
}

.reverse {
  flex-direction: row-reverse;
}

.senderData {
  display: flex;
  margin-bottom: 0.5rem;
}

.userDetails {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
}

.userDetailsReverse {
  margin-left: 0;
  margin-right: 0.5rem;
}
