.senderData {
  display: flex;
  margin-bottom: 0.5rem;
}

.small {
  width: 35px;
  height: 35px;
}

.avatarWrapper {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}

.avatarWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userDetails {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-left: 0.5rem;
}

.messageTime {
  color: var(--quiqflow-color-modal-overlay);
  font-size: 0.75rem;
}
