.register-container{
    background-color: var(--quiqflow-color-white);
    border-radius: 0.5rem;
    box-shadow: 0 .5rem 1.5rem .5rem rgba(0, 0, 0, .075);
    color: var(--quiqflow-color-primary-font);
    display: flex;
    flex-direction: column;
    font-family: var(--quiqflow-font-primary), sans-serif;
    line-height: 1.5;
    margin: auto;
    max-width: 28rem;
    padding:1.5rem 2.5rem;
    width: 100%;
}

.register-header {
    margin-bottom: 2rem;
    text-align: center;
}

.register-title {
    color: var(--quiqflow-color-primary);
    font-size: var(--quiqflow-font-size-3xl);
    font-weight: var(--quiqflow-font-weight-bold);
    margin: 0 ;
}

.register-subtext {
    align-items: center;
    color: var(--quiqflow-color-grey);
    display: flex;
    font-size: var(--quiqflow-font-size-xs);
    justify-content: center;
    margin: 20px ;
}

.button-container {
    display: flex;
    justify-content: center;
  }

.register-link {
    color: var(--quiqflow-color-primary);
    text-decoration: none;
    transition: color 0.2s ease;
}

.register-link:hover {
    color: var(--quiqflow-color-primary-hover);
    text-decoration: underline;
}