.input {
  border-radius: var(--quiqflow-radius);
  border: 1px solid ;
  color: var(--quiqflow-color-grey);
  font-size: var(--quiqflow-font-size-md);
  font-weight: var(--quiqflow-font-weight-normal);
  padding: 12px 16px;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
  width: 100%;
}

.input:focus {
  outline: none;
}

/* authInput */
.authInput {
  background-color: var(--quiqflow-color-light-grey);
  border: none;
  font-size: var(--quiqflow-font-size-sm);
}

.authInput:focus {
  background-color: var(--quiqflow-color-bg-secondary);
  outline: none;
}

/* searchInput */
.searchInput {
  background-color: var(--quiqflow-color-white);
  border-radius: var(--quiqflow-radius);
  border: solid var(--quiqflow-color-grey-border);
  color: var(--quiqflow-color-modal-overlay);
  font-size: var(--quiqflow-font-size-sm);
  font-weight: var(--quiqflow-font-weight-normal);
  padding: var(--quiqflow-spacing-md);
  width: 100%;
}

.searchInput:focus {
  border-color: var(--quiqflow-color-selected-border);
  color: var(--quiqflow-color-bg-dark);
  outline: none;
}

/* messageInput */
.messageInput {
  background-color: var(--quiqflow-color-black-lightest);
  border-radius: var(--quiqflow-radius-chat-bubble);
  border: none;
  color: var(--quiqflow-color-grey);
  font-size: var(--quiqflow-font-size-lg);
  padding: var(--quiqflow-spacing-md, 0.75rem);
  width: 100%;
}

.messageInput:focus {
  background-color: var(--quiqflow-color-chat-bg);
  box-shadow: var(--quiqflow-box-shadow-focus);
  outline: none;
}

.isInvalid {
  border-color: var(--quiqflow-color-error);
}

.isValid {
  border-color: var(--quiqflow-color-success);
}

.dark {
  filter: brightness(0.8);
}

.light {
  filter: brightness(1);
}