.messengerFooter {
  border-top: 1px solid var(--quiqflow-color-light-grey);
  margin-top: 1rem;
  padding: 1.5rem;
}

.messageInput {
  background-color: var(--quiqflow-color-black-lightest);
  border-radius: var(--quiqflow-radius-chat-bubble);
  border: none;
  font-size: var(--quiqflow-font-size-lg);
  margin-bottom: 1rem;
  padding: 0.75rem;
  resize: vertical;
  width: 100%;
}

.messageInput:focus {
  background-color: var(--quiqflow-color-chat-bg);
  box-shadow: var(--quiqflow-box-shadow-focus);
  outline: none;
  width: 100%;
}

.messageToolbar {
  align-items: end;
  display: flex;
  justify-content: end;
}
