.contact-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem ;
    gap: 2rem;
    border-bottom: 1px dashed var(--quiqflow-color-light-grey);
}

.contact-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.contact-info {
    display: flex;
    flex-direction: column;
}

.contact-name {
    cursor: pointer;
    font-weight: bold;
    color: var(--quiqflow-color-bg-dark);
    margin-bottom: 0.25rem;
}

.contact-name:hover{
    color: var(--quiqflow-color-primary);
}

.contact-email {
    font-size: var(--quiqflow-font-size-sm);
    color: var(--quiqflow-color-modal-overlay);
}

.contact-time {
    font-size: var(--quiqflow-font-size-sm);
    /* font-weight: var(--quiqflow-font-weight-bold); */
    color: var(--quiqflow-color-modal-overlay);
    width: 50px;
}